body {
    font-family: 'merriweatherblack';
}

.text {
    font-family: 'open_sansregular';
}

// .title {
//     /* цвет | смещение-x | смещение-y */
//     text-shadow: rgb(58, 241, 211) 2px 5px;
//     color: rgb(24, 92, 92);
//     background-color: rgb(245, 245, 191);
// }

.title {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, serif;
}

.title2 {
    color: white;
    -webkit-text-stroke: 1px blue;
    text-stroke: 1px blue;
}

.triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 76px;
    border-left-width: 145px;
    border-bottom: 203px solid rgb(26, 180, 134);
}

.header3 {
    border: 30px solid #40c4c8;
    padding: 20px;
    -moz-border-image: url(moroccan-flower.png) 30 round round;
    -webkit-border-image: url(moroccan-flower.png) 30 round round; 
    -o-border-image: url(moroccan-flower.png) 30 round round;
    border-image: url(moroccan-flower.png) 30 round round;
    margin-bottom: 50px;
}

.gradient {
    // max-width: 250px;
    // padding: 1rem;
    // position: relative;
    // background: linear-gradient(to right, red, purple);
    // padding: 3px;



    // border: 10px solid transparent;
    // border-image: linear-gradient(#0B0E7F , #0B95DD);
    // -moz-border-image: -moz-linear-gradient(#0B0E7F , #0B95DD);
    // -webkit-border-image: -webkit-linear-gradient(#0B0E7F , #0B95DD);
    // border-image-slice: 1;


    // Алексей: div {
    //     width: 260px; height: 100px;
    //     border-style: solid;
    //     border-image-width: 15px;
    //     border-image-source: url(https://ru.w3docs.com/uploads/media/default/0001/01/812bf6a749522b8185c1beee20dd99dd6c6c87da.jpeg);
    //     border-image-slice: 30;
    //     border-image-repeat: round;
    //     }
}


.text2 {
    background: #08745c;
    color: white;
    padding: 2rem;

    border: 10px solid transparent;
    border-image: linear-gradient(#0B0E7F , #0B95DD);
    -moz-border-image: -moz-linear-gradient(#0B0E7F , #0B95DD);
    -webkit-border-image: -webkit-linear-gradient(#0B0E7F , #0B95DD);
    border-image-slice: 1;
}

// Evgeny: https://css-tricks.com/gradient-borders-in-css/
// Красно-оранжевая интересная



// пример из каталога из лекции
.breadcrumbs {

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #636363;
    }

    &__link_site {
        font-weight: 700;
        color: $colorSelectSite;
    }
}


.breadcrumbs__link:not(:last-child)::after {
    content: '/';
    padding-left: 8px;
    padding-right: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}





// пример мозиллы
.breadcrumb {
    padding: 0 .5rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}



// пример с  семинара
// .triangle {
//     width: 0;
//     height: 0;
//     border: 150px solid transparent;
//     border-top: 0;
//     border-bottom: 300px solid red;
//   }

// Evgeny: Нашел еще способ через li + li. Это означает, что ставится только между двумя элементами li?

// &__breadcrumb li+li::before {
// padding: 3px;
// content: "/\00a0";
// font-weight: 300;
// }