* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 200px;
}

/* стилизация details */
summary {
    display: block;
  }
  
    summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    /* content: '\25B6'; */
    content: 'Закрыто';
    padding-right: 0.5em;
  }
  
  details[open] > summary::before {
    /* content: '\25BC'; */
    content: 'Открыто';
  }

  .video-box {
    width: 100vm;
    height: 100vh;
    position: relative;
    /* точка отсчета - позиционирование*/
  }

  /* надпись на видео */
  .video-heading {
    color: white;
    position: absolute;
    left: 40%;
    top: 20%;
    z-index: 5;
  }

  .video {
    width: 100vm;
    height: 100vh;
    position: absolute;
  }