* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*финальная ширина = ширина*/
}

a {
    text-decoration: none;
}

body {
    background-color: #08101d;
    font-family: sans-serif;
}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__info {
    
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.subtitle {
    /* margin-top: 160px; */
    margin-bottom: 10px;
}

.title {
    margin-bottom: 40px;
}

.top__buttons {
    margin-top: 50px;
}

.content {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    
    justify-items: center;
    gap: 30px;

}

.item__big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}