// экранирование &{...}
// переменные в файле _vars.scss
@import 'vars';
@import 'mixins';

%flex {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

// убираем треугольничек
summary {
    display: block;
}

// убираем треугольничек 
summary::-webkit-details-marker {
    display: none;
}


body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;  // для .filter, ч.б. не двигал другие блоки  -- поменялось с 34 минуты в лекции
    display: flex;
    gap: $gapNav;

}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background: #fff;
        padding: 0px 16px 16px;
    }
    
    &[open] {
        border: 1px solid #EBEBEB;
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    // когда элемент <details> filter открыт, тогда цвет заголовка меняется
    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        // при flex треугольник исчез. Но в разных браузерах может быть по-разному
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        color: $colorText;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;  // sort-box
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
    }

    &__check {
        color: #6F6E6E;
        font-size: 14px;
        // font-family: Roboto;    подключить шрифт
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;  // sort__details
        left: -9px;
        top: 22px;
    }
}

// использование миксина
.product-box {
    @include centerflex();
    gap: $gapNav;
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
    }

    &__content {
        background-color: #f8f8f8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;   // nav


    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
        @extend %flex;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: space-around;
        padding-right: 6px;
    }
}

// прячем checkbox за экран
#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;  //visibility скрывает или показывает элемент без изменения разметки документа

    // когда бургер checked, навигация РЯДОМ (~) ...
    &:checked ~ .nav {
        // display: none;
        right: -$widthBurgerMenu;  // прячется за экран справа, т.к. минус!
    }
}

.box-content {
    overflow: hidden; // скрыть перекрытие - нет полосы прокрутки
}

.nav {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    // rgba(255, 255, 255, 1)
    width: 232px;  // $widthBurgerMenu
    padding: 32px;
    box-sizing: border-box;
    position: absolute;   // header
    top: 82px;
    right: 0px;
    transition: right 0.3s;
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }
}

.breadcrumbs {

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #636363;
    }

    &__link_site {
        font-weight: 700;
        color: $colorSelectSite;
    }
}


.breadcrumbs__link:not(:last-child)::after {
    content: '/';
    padding-left: 8px;
    padding-right: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

