/*   *-значит ко всем элементам */

* {             /*обнуляем ВСЕ отступы*/
    margin: 0;   /*внешний отступ */
    padding: 0;   /*внутренний отступ */
}

body {
    font-family: 'Raleway', sans-serif;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

/* делали для примера. Устаревающий способ.
Тогда оборачиваем в контейнер те блоки, к-е надо. Мы делали все наши блоки
.container {
    width: 1280px;
    margin: 0 auto;
} */

a {   /*обращение к тегам не рекомендуется, но тут все ссылки без подчеркивания*/
    text-decoration: none;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f2e41;
    display: flex;
    gap: 32px;
}

.header__link {
    font-style: normal;    
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.top {
    padding-top: 84px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.title {
    width: 578px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 113px;
    color: #6c63ff;
    mix-blend-mode: normal;
}

.about {
    background: rgba(242, 242, 242, 0.34);
    padding-top: 64px;
    padding-bottom: 194px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: #6c63ff;
    mix-blend-mode: normal;
}

.about__content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about__text {
    width: 462px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
    mix-blend-mode: normal;
}

/* записываем display grid для родительского эл-а. тут он явл-ся оcновой позиционировнаия */
.content {
    /* width: 700px; */
    display: grid;
    /* колонки */
    /* grid-template-columns: 100px 30% auto; */
    /* grid-template-columns: 100px 200px 200px; */
    grid-template-columns: repeat(4, 200px);
    gap: 32px;
    justify-content: center;
    margin-bottom: 128px;
}

.item {
    /* в реальной практике бордер и высота не делаются. Это для примера, ч.б видеть. вместо высоты - контент */
    border: 1px solid #000;
    /* height: 200px; */
    min-height: 200px;
}

.item1 {
    /* колонки с 1й по 3ю линии объединить */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.box {
    padding-top: 128px;
    padding-bottom: 128px;
    /* задаем точку отсчета для родительского элемента - "position: relative", ч.б. потом использовать "position: absolute" для дочерних элементов */
    position: relative;
}

.elem {
    width: 250px;
    height: 150px;
    position: absolute;
}

.elem1 {
    background-color: rgb(4, 71, 71);
    /* делаем, чтоб наезжали друг на друга */
    top: 0;
    left: 0;
    z-index: 2;
}
.elem2 {
    background-color: rgb(7, 141, 141);
    top: 75px;
    left: 75px;
    z-index: 1;
}
.elem3 {
    background-color: rgb(74, 240, 240);
    top: 150px;
    left: 150px;
    z-index: 0;
}