/* h2 {
    color: darkcyan;
} */
.heading {
    color: darkcyan;
}

.heading-about {
    color: orange;
}

.title {
    background-color: grey;
    color: blueviolet;
}

h1 {
    border: 1px solid violet;
}

/* .text a {     <!-- старый подход -->
    font-size: 18px;
    color: red;
} */

p {
    font-size: 18px;
    color: red;
}

    p a {
        color: inherit;
}